.Replays {
    width: 80%;
}

.reply {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    justify-content: space-between;
}
.reply > p {
    margin: 10px;
}

.reply > button {
    border: none;
    background-color: transparent;
    color: rgb(243, 88, 88);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}