.NewPost{
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    justify-content: space-between;
}
.NewPost > button{
    border: none;
    background-color: rgb(85, 85, 170);
    height: 35px;
    width: 80px;
    color: white;
    margin: 20px;
    border-radius: 10px;
}
.Comment{
    width: 600px;
    height: 70px;
    margin: 10px;
    border: rgba(218, 218, 218, 0.758) 1px solid;

}